/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  background-color: var(--background-color);
  background-image: var(--page-background);
  background-size: cover;
  background-attachment: fixed;
}

.section-width {
  inline-size: var(--content-width);
  margin-inline: auto;
}

@media (width <= 375px) {
  .section-width {
    inline-size: 100%;
  }
}

.content {
  display: grid;
  gap: 50px;
  inline-size: 100%;
}

.header {
  display: grid;
  justify-items: center;
  gap: 20px;
  margin-block-start: 100px;
  padding-block: clamp(120px, 10vw, 136px);
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  font-family: var(--accent-font), fantasy;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6761rem + 0.8488vw, 1.4375rem);
  line-height: 1;
}

@media (width <= 375px) {
  .header {
    border-inline: none;
  }
}